.ui-128__time-picker {
  .ant-time-picker {
    width: 200px;
  }
  
  .ant-time-picker-panel-inner {
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(55,58,54,0.24);
  }

  .ant-time-picker-panel-inner,
  .ant-time-picker-input,
  .ant-time-picker-panel-input {
    font-family: $montserrat-family;
  }

  .ant-time-picker-input {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.16);
  }

  .ant-time-picker-input,
  .ant-time-picker-panel-input {
    font-size: 14px;
    font-weight: 300;

    &:focus {
      box-shadow: none;
    }
  }

  .ant-time-picker-panel-input {
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $warm-grey;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $warm-grey;
      opacity: 1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $warm-grey;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $warm-grey;
    }
  }

  .ant-time-picker-panel-input-wrap {
    border-bottom: 2px solid #ddd;
  }

  .ant-time-picker-panel-inner {
    border-radius: 0;
    border: 0;
  }

  .ant-time-picker-icon::after,
  .ant-time-picker-panel-clear-btn::after {
    font-family: "Material Design Icons";
    font-size: 16px;
  }

  .ant-time-picker-panel-clear-btn::after {
    content: "\F159";
    margin-top: 4px;
  }

  .ant-time-picker-icon::after {
    content: "\F150";
  }

  .ant-time-picker-panel-select > ul > li {
    font-weight: 300;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);

    &.ant-time-picker-panel-select-option-selected,
    &:hover {
      background-color: #f2f3f2;
    }
  }
}