.ui-128__autocomplete,
.ui-128__autocomplete--options {
  font-family: $montserrat-family;
  font-weight: 300;

  &.Select {
    box-sizing: border-box;

    /* Essentially, the input box */
    .Select-control {
      border-radius: 0;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid rgba(224, 224, 224, 1);

      &:hover {
        box-shadow: 0 0px 0 rgba(0, 0, 0, 0.06); /* This overrides settings from react-select control.scss */
      }
    }

    /* This is the animated underline which is activated upon focus */
    .Select-control::after {
      background-color: $azure;
      bottom: 0px;
      content: '';
      height: 1px;
      left: 45%;
      position: absolute;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      visibility: hidden;
      width: 10px;
    }
  }

  &.Select.is-focused {
    .Select-control::after {
      left: 0;
      visibility: visible;
      width: 100%;
    }
  }

  &.Select.has-error {
    .Select-control {
      border-bottom: 2px solid $pinkish-red;
    }

    .Select-control::after {
      background-color: $pinkish-red;
    }
  }

  &.Select.is-valid {
    .Select-control {
      border-bottom: 2px solid $shamrock-green;
    }

    .Select-control::after {
      background-color: $shamrock-green;
    }
  }

  &.Select.has-value {
    .Select-control { /* This is the border box */
      color: $warm-grey;

      .Select-value {
        color: $warm-grey;
        padding-left: 2px;

        .Select-value-label {
          color: $charcoal-128;
        }
      }
    }
  }

  .Select-placeholder {
    padding-left: 2px;
  }

  .Select-input {
    color: $warm-grey;
  }

  /* This controls the container for the menu options */
  .Select-menu-outer {
    background-color: $white;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border: #d9d9d9;
    border-radius: 2px;

    .VirtualizedSelectOption {
      cursor: pointer;
      padding: 0 25px;
    }

    .VirtualizedSelectFocusedOption {
      background-color: #f2f3f2;
    }

    .VirtualizedSelectSelectedOption {
      color: $azure;
      font-weight: 300;
    }
  }
}
