.ui-128__menu-item {
  font-size: 13px;
  font-weight: 300;
  font-family: $rbno31-family;

  &.ant-dropdown-menu-item:hover,
  &.ant-dropdown-menu-item-active,
  &.ant-dropdown-menu-item-selected {
    background-color: #f2f3f2;
  }
}