@import "~@mdi/font/css/materialdesignicons.css";

@mixin define-font($filename, $weight, $name) {
  @font-face {
    font-family: $name;
    src: url(../fonts/#{$filename}.eot);
    src: url(../fonts/#{$filename}.eot?#iefix) format('embedded-opentype'), url(../fonts/#{$filename}.woff) format('woff'), url(../fonts/#{$filename}.ttf) format('truetype');
    font-weight: $weight;
    font-style: normal;
  }
}

@include define-font("montserrat/montserrat-v12-latin-100", 100, "Montserrat");
@include define-font("montserrat/montserrat-v12-latin-200", 200, "Montserrat");
@include define-font("montserrat/montserrat-v12-latin-300", 300, "Montserrat");
@include define-font("montserrat/montserrat-v12-latin-regular", 400, "Montserrat");
@include define-font("montserrat/montserrat-v12-latin-500", 500, "Montserrat");
@include define-font("montserrat/montserrat-v12-latin-600", 600, "Montserrat");
@include define-font("montserrat/montserrat-v12-latin-700", 700, "Montserrat");
@include define-font("montserrat/montserrat-v12-latin-800", 800, "Montserrat");
@include define-font("RbNo31/RbNo31_ExtraLight", 100, "RbNo31");
@include define-font("RbNo31/RbNo31_Light", 200, "RbNo31");
@include define-font("RbNo31/RbNo31_Book", 300, "RbNo31");
