$montserrat-family: Montserrat, sans-serif;
$rbno31-family: RbNo31, sans-serif;

// Colors
$cyan-128: #00adef;
$charcoal-128: #373a36;
$graphite-128: #373a36;
$pinkish-grey: #ccc;
$light-pink: #f8dade;
$light-red: #fae3e1;
$azure-80: rgba(0, 173, 239, .8);
$pale-sky-blue: #b4eaff;
$azure: #00adef;
$light-grey: #c8c9c7;
$tangerine: #ff9300;
$black: #000;
$greyish-brown: #4a4a4a;
$brownish-grey: #646464;
$scarlet: #d0021b;
$white: #fff;
$white-two: #f5f5f5;
$white-three: #f3f3f3;
$warm-grey: #9b9b9b;
$cerulean: #009fdb;
$pinkish-red: #de485c;
$vermilion: #db4437;
$shamrock-green: #00b050;
$error-red: #f44336;
$disabled-grey: rgba(159, 160, 159, .8);
// 9FA09F

// Override React-select defaults
$select-input-border-focus: rgba(0, 0, 0, 0);
$select-input-border-color: $warm-grey;
$select-input-bg: rgba(0, 0, 0, 0);
$select-option-selected-color: $azure;
