$spinner-huge-size: 100px;
$spinner-large-size: 60px;
$spinner-medium-size: 40px;
$spinner-small-size: 16px;
$spinner-icon-margin: 10px;

@keyframes pulse {
  0% {
    opacity: 0.05;
    transform: scale(1);
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
    transform: scale(1.7);
  }
}

.ui-128__spinner {
  position: relative;
  width: $spinner-medium-size;
  height: $spinner-medium-size;

  .ui-128__spinner-icon-piece {
    fill: $white;
  }

  .ui-128__spinner-icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%) scale(0.75);
    margin-left: 2px;
  }

  .ui-128__spinner-pulse-outer,
  .ui-128__spinner-pulse-inner {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: $cyan-128;
    height: $spinner-medium-size;
    width: $spinner-medium-size;
  }

  .ui-128__spinner-pulse-outer {
    animation: pulse 1.5s Infinite;
  }

  .ui-128__spinner-pulse-inner {
    animation: pulse 1.5s Infinite 0.4s;
  }

  .ui-128__spinner-icon-outer {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    background-color: $cyan-128;
    height: $spinner-medium-size;
    width: $spinner-medium-size;
    border: 3px solid $white;
    box-sizing: border-box;
  }
}

.ui-128__spinner.ui-128__spinner--small {
  width: $spinner-small-size;
  height: $spinner-small-size;

  .ui-128__spinner-icon {
    display: none;
  }

  .ui-128__spinner-pulse-outer,
  .ui-128__spinner-pulse-inner {
    height: $spinner-small-size;
    width: $spinner-small-size;
  }

  .ui-128__spinner-icon-outer {
    height: $spinner-small-size;
    width: $spinner-small-size;
    border: 2px solid $white;
  }
}

.ui-128__spinner.ui-128__spinner--large {
  width: $spinner-large-size;
  height: $spinner-large-size;

  .ui-128__spinner-pulse-outer,
  .ui-128__spinner-pulse-inner {
    height: $spinner-large-size;
    width: $spinner-large-size;
  }

  .ui-128__spinner-icon-outer {
    height: $spinner-large-size;
    width: $spinner-large-size;
  }
}

.ui-128__spinner.ui-128__spinner--huge {
  width: $spinner-huge-size;
  height: $spinner-huge-size;

  .ui-128__spinner-pulse-outer,
  .ui-128__spinner-pulse-inner {
    height: $spinner-huge-size;
    width: $spinner-huge-size;
  }

  .ui-128__spinner-icon-outer {
    height: $spinner-huge-size;
    width: $spinner-huge-size;
    border: 4px solid $white;
  }
}
