$basic-border: 1px solid #e2e2e2;

.ui-128__table {
  &.ant-table-wrapper {
    font-family: $montserrat-family;

    .ant-table-thead th {
      font-size: 13px;
      font-weight: 400;
      background-color: #fff;
      border-bottom: $basic-border;
      color: #646464;

      .anticon-caret-up::before {
        content: "\e607";
      }

      .anticon-caret-down::before {
        content: "\e606";
      }

      .ant-table-column-sorter-down,
      .ant-table-column-sorter-up {
        &.on > i {
          color: $cyan-128;
        }
      }
    }

    .ant-pagination-prev,
    .ant-pagination-next {
      border: 0;
    }

    .ant-pagination-item {
      border: 0;

      &.ant-pagination-item-active {
        background-color: transparent;
      }

      &.ant-pagination-item-active > a {
        color: $cyan-128;
        font-weight: bold;
      }
    }

    .ant-table-tbody tr {
      td {
        font-size: 14px;
        font-weight: 300;
        border-bottom: 0;

        > .disabled {
          color: #c8c9c7;
        }
      }

      &:hover td {
        background-color: #f2f3f2;
      }
    }

    .ant-table-placeholder {
      border-bottom: 0;
    }
  }
}

.ui-128__table--bordered {
  background-color: $white;
  border-bottom: none;

  * {
    overflow: visible !important;
  }

  .ant-table {
    border-radius: 0;
  }

  &.ant-table-wrapper .ant-table .ant-table-content {
    overflow: visible;
  }

  &.ant-table-wrapper .ant-table .ant-table-content .ant-table-body {

    table {
      border-radius: 0;

      .ant-table-row-expanded::after,
      .ant-table-row-collapsed::after {
        font-family: "Material Design Icons";
        content: "";
        font-size: 24px;
        color: $warm-grey;
      }

      .ant-table-row-expanded::after {
        content: "\F140";
      }

      .ant-table-row-collapsed::after {
        content: "\F142";
      }

      .ant-table-row-expand-icon-cell,
      .ant-table-expand-icon-th,
      .ant-table-selection-column {
        width: 50px !important;
      }

      .ant-table-row-expand-icon {
        width: 24px;
        height: 24px;
        line-height: 24px;
        border: 0;
        vertical-align: middle;
        background: transparent;
        margin: 0;
      }

      th {
        border-bottom: 0;
      }

      th,
      .ant-table-row td,
      .ant-table-expanded-row,
      .ant-table-expanded-row td,
      .ant-table-expanded-row:hover td {
        background-color: transparent !important;
      }

      .ant-table-expanded-row > td:last-child {
        background-color: rgba(0, 0, 0, 0.02) !important;
      }

      tr.ant-table-expanded-row::after {
        position: absolute;
        content: "";
        left: 0;
        margin-top: 0;
        height: 1px;
        right: 0;
        z-index: 10;
        pointer-events: none;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      }

      .ant-table-expanded-row > td:first-child {
        background-color: $white !important;
        position: relative;

        &::before {
          display: block;
          content: "";
          background-color: #fff;
          height: 1px;
          width: 50px;
          position: absolute;
          left: 0;
          bottom: -1px;
        }
      }

      .ant-table-expanded-row + .ant-table-row > td {
        position: relative;

        &::before {
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: #e2e2e2;
          top: -1px;
          left: 0;
          content: "";
        }
      }

      .ant-table-row > td:first-child {
        border-left: $basic-border;
      }

      .ant-table-row > td:last-child {
        border-right: $basic-border;
      }

      .ant-table-row > td,
      .ant-table-expanded-row > td {
        border-top: $basic-border;
        background-color: $white;
      }

      > .ant-table-tbody > .ant-table-expanded-row > td:last-child {
        padding: 0;
        border-right: $basic-border;
      }
    }
  }
}

*:not(.ui-128__table--nested) > .ui-128__table--bordered {
  .ant-table {
    border-bottom: $basic-border;
  }
}

.ui-128__table--bordered .ant-table-expanded-row .ui-128__table--bordered {
  background-color: transparent;

  &.ant-table-wrapper .ant-table .ant-table-content .ant-table-body table {
    .ant-table-expanded-row > td,
    .ant-table-row > td {
      border-right: 0;
    }

    th:first-child {
      border-left: $basic-border;
    }
  }
}
