@import "../../styles/button";

.ui-128__split-button {
  .ant-dropdown-trigger > i::after {
    font-family: "Material Design Icons";
    content: "\F140";
    color: $brownish-grey;
    font-weight: 600;
    font-size: 13px;
    vertical-align: middle;
  }
}
